/venv
/frames
/frames_connected
/outputs
*.key
/jogging*
/Exercises
/input*
/output*

edumgt-key
.env
.env.local
.env.dev
.env.prod
.venv
__pycache__/
*.pyc
db.sqlite3
media/
workspace_repos/
staticfiles/
